@Author: Ritika Patidar
@Date  : 2021-03-05 23:43:38
@Last Modified by  : Ritika Patidar
@Last Modified time : 2021-03-05 23:43:38
@Title : delete the 'attempts' column from the DataFrame

In [10]:
import pandas as pd
import numpy as np

In [11]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [12]:
display_pd=pd.DataFrame(exam_data,index=labels)
print("=============================== Original Dataframe ========\n{0}".format(display_pd))
display_pd.pop('attempts')
print("============== After deleting attempts coulmn ==============\n{0}".format(display_pd))

=============================== Original Dataframe ========
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
============== After deleting attempts coulmn ==============
        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes