@Author: Ritika Patidar
@Date  : 2021-03-05 11:39:38
@Last Modified by  : Ritika Patidar
@Last Modified time : 2021-03-05 11:39:38
@Title : display a summary of the basic information about a specified Data Frame and its data

In [10]:
import pandas as pd
import numpy as np

In [11]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [12]:
display_pd=pd.DataFrame(exam_data,index=labels)
print("=============================== Display info about Dataframe =========================")
print(display_pd.info())

=============================== Display info about Dataframe =========================
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None