@Author: Ritika Patidar
@Date  : 2021-03-06 00:03:38
@Last Modified by  : Ritika Patidar
@Last Modified time : 2021-03-06 00:03:38
@Title : DataFrame iterate over rows in a DataFrame

In [94]:
import pandas as pd
import numpy as np

In [95]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [96]:
display_pd=pd.DataFrame(exam_data,index=labels)
print("=============================== Original Dataframe ========\n{0}".format(display_pd))
print("============================== iterate dataFrame over row =============================")
for index, row in display_pd.iterrows():
    print("{0:10}|{1:10}|{2:10}|        {3:10}".format(row['name'], row['score'],row['attempts'],row['qualify']))

=============================== Original Dataframe ========
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
============================== iterate dataFrame over row =============================
Anastasia |      12.5|         1|        yes
Dima      |       9.0|         3|        no
Katherine |      16.5|         2|        yes
James     |       nan|         3|        no
Emily     |       9.0|         2|        no
Michael   |      20.0|         3|        yes
Matthew   |      14.5|         1|        yes
Laura     |       nan|         1|        no
Kevin     |       8.0|         2|        no
Jonas     |      19.0|         1|        yes