@Author: Ritika Patidar
@Date  : 2021-03-05 22:29:38
@Last Modified by  : Ritika Patidar
@Last Modified time : 2021-03-05 22:29:38
@Title : replace the 'qualify' column contains the values 'yes' and 'no' with True and False

In [13]:
import pandas as pd
import numpy as np

In [14]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [15]:
display_pd=pd.DataFrame(exam_data,index=labels)
print("=============================== Original Dataframe ========\n{0}".format(display_pd))
display_pd['qualify']=display_pd['qualify'].map({'yes': True, 'no': False})
print("=============================== After replace in column yes by True and no by False========\n{0}".format(display_pd))

=============================== Original Dataframe ========
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
=============================== After replace in column yes by True and no by False========
        name  score  attempts  qualify
a  Anastasia   12.5         1     True
b       Dima    9.0         3    False
c  Katherine   16.5         2     True
d      James    NaN         3    False
e      Emily    9.0         2    False
f    Michael   20.0         3     True
g    Matthew   14.5         1     True
h      Laura    NaN         1    False
i      Kevin    8.0         2    False
j      Jonas   19.0         1     True